//---------------------------------- COLORS ----------------------------------
$color1: rgb(33, 33, 33);           //Darkest Grey
$color2: rgb(42, 42, 42);           //Darker Grey
$color3: rgb(55, 55, 55);           //Dark Grey
$color4: rgb(175, 175, 175);        //Light Grey
$color5: rgb(0, 111, 255);          //Light Blue
//Nav and button effects
$hoverBgColor: rgb(77, 77, 77);
$activeBgColor: rgb(88, 88, 88);